{% extends 'dashboard_basic.html' %}
{% load static %}

{% block pageTitle %} Therapy History - UF BRAVO Platform {% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
    <li class="breadcrumb-item text-sm">
      <a class="text-white" href="javascript:;">
        <i class="ni ni-app"></i>
      </a>
    </li>
    <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white" href="/index">UF BRAVO Platform</a></li>
    <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white" href="/patients">Patients</a></li>
    <li class="breadcrumb-item text-sm text-white active" aria-current="page"><a class="opacity-5 text-white" href="/patientOverview">{{Patient.Name}}</a></li>
  </ol>
  <h6 class="font-weight-bolder mb-0 text-white">Realtime Stream Overview</h6>
</nav>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-lg-6 mb-4">
    <label class="form-label">Choose BrainSense Streaming Day</label>
    <select class="form-control" name="BrainSenseStreamSelection" id="BrainSenseStreamSelection" onchange="selectDisplay()">
    </select>
  </div>
</div>

<div id="StreamTable" class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="table-responsive">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 w-10">Recording Date</th>
              <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 w-10">Left Hemisphere</th>
              <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 w-10">Right Hemisphere</th>
              <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 w-5">Recording Duration</th>
              <th class="text-uppercase text-left text-secondary text-xxs font-weight-bolder opacity-7 w-5"></th>
            </tr>
          </thead>
          <tbody id="StreamTableBody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex">
  <div class="col-12 mb-4">
    <div id="BrainSenseStreamSpectrogramCard" class="card z-index-0 h-100" style="display: none;">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column">
            <h6 class="text-capitalize">Brain Sense Stream Time-Frequency Analysis</h6>
            <a href="javascript:exportCurrentStream();" class="btn btn-icon btn-outline-black">
              <span class="btn-inner--text">Export</span>
              <span class="btn-inner--icon ms-2"><i class="ni ni-folder-17"></i></span>
            </a>
          </div>
          <div class="d-flex flex-column ms-auto">
            <button id="CardiacFilterState" type="button" class="btn btn-xs btn-primary" onclick="this.blur(); updateCardiacFilterData();">Cardiac Filter</button>
            {% if Config.SpectrogramMethod.value == "Spectrogram" %}
            <button id="TimeFrequencyMethod" type="button" class="btn btn-xs btn-primary" onclick="this.blur(); updateTimeFrequencyAnalysis();">Use Wavelet</button>
            {% else %}
            <button id="TimeFrequencyMethod" type="button" class="btn btn-xs btn-primary" onclick="this.blur(); updateTimeFrequencyAnalysis();">Use Spectrogram</button>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div id="BrainSenseStreamSpectrogramChart" class="chart" data-spectmethod="{{Config.SpectrogramMethod}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div id="BrainSenseStimulationPSDCard-Left" class="card z-index-0 h-100" style="display: none;">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <div class="d-flex align-items-center">
          <h6 class="text-capitalize">Spectral Features vs. Stimulation (Left)</h6>
          <div class="form-check form-switch ps-0 ms-auto">
            <input class="form-check-input ms-0" type="checkbox" autocomplete="off" id="BrainSenseStimulationPSDRefSwitch-Left" onclick="this.blur();" onchange="updateStimulationPSD('Left')">
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="BrainSenseStimulationPSDRefSwitch-Left">Contralateral Reference</label>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div id="BrainSenseStimulationPSDChart-Left" class="chart" data-psdmethod="{{Config.PSDMethod}}" data-stimreference="{{Config.StimulationReference}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div id="BrainSenseStimulationPSDCard-Right" class="card z-index-0 h-100" style="display: none;">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <div class="d-flex align-items-center">
          <h6 class="text-capitalize">Spectral Features vs. Stimulation (Right)</h6>
          <div class="form-check form-switch ps-0 ms-auto">
            <input class="form-check-input ms-0" type="checkbox" autocomplete="off" id="BrainSenseStimulationPSDRefSwitch-Right" onclick="this.blur();" onchange="updateStimulationPSD('Right')">
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="BrainSenseStimulationPSDRefSwitch-Right">Contralateral Reference</label>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div id="BrainSenseStimulationPSDChart-Right" class="chart" data-psdmethod="{{Config.PSDMethod}}" data-stimreference="{{Config.StimulationReference}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div id="BrainSenseTherapyEffectCard-Left" class="card z-index-0 h-100" style="display: none;">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <div class="d-flex align-items-center">
          <h6 class="text-capitalize">Effect of Stimulation (Left)</h6>
          <div class="form-check form-switch ps-0 ms-auto">
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div id="BrainSenseTherapyEffectChart-Left" class="chart" data-psdmethod="{{Config.PSDMethod}}" data-stimreference="{{Config.StimulationReference}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <div id="BrainSenseTherapyEffectCard-Right" class="card z-index-0 h-100" style="display: none;">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <div class="d-flex align-items-center">
          <h6 class="text-capitalize">Effect of Stimulation (Right)</h6>
          <div class="form-check form-switch ps-0 ms-auto">
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div id="BrainSenseTherapyEffectChart-Right" class="chart" data-psdmethod="{{Config.PSDMethod}}" data-stimreference="{{Config.StimulationReference}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-plugin">
  <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
    <i class="fa fa-cog py-2" aria-hidden="true"> </i>
  </a>
  <div class="card shadow-lg">
    <div class="card-header pb-0 pt-3  bg-transparent ">
      <div class="float-start">
        <h6 class="mt-3 mb-0">Signal Processing Configuration</h6>
        <p>For Realtime Stream Recordings.</p>
      </div>
      <div class="float-end mt-4">
        <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>
      <!-- End Toggle Button -->
    </div>
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0" style="overflow-y: auto;">
      <!-- Sidenav Type -->
      {% for key, option in Config.items %}
      <div class="mt-3">
        <h6 class="mb-0">{{option.name}}</h6>
        <p class="text-sm">{{option.description}}</p>
      </div>
      <div class="d-flex">
        <select class="form-control config-selection" data-key="{{key}}">
          {% for selectable in option.options %}
          {% if option.value == selectable %}
          <option value="{{selectable}}" selected="selected">{{selectable}}</option>
          {% else %}
          <option value="{{selectable}}">{{selectable}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      {% endfor %}
      <a id="updateConfigurationBtn" class="btn btn-primary w-100 mt-4" href="javascript:updateConfigurations();" data-device="" data-timestamp="">Update</a>
      <p><small>* Note: Update will refresh the page and request reprocessing of the data, which will take remove all caches and redownload other sessions if needed.</small></p>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script>

$(".btn").mouseup(function(){
    $(this).blur();
})

$(document).ready(function() {
  document.getElementById('brainsenseStreamNavbar').classList.add("active")
  requestBrainSenseStreamOverview()
})

var streamOverview;
async function requestBrainSenseStreamOverview()
{
  let formData = new FormData();
  formData.append("requestOverview", '{{PatientID}}');
  const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
  if (response.status == 200)
  {
    streamOverview = await response.json()
    var selectList = document.getElementById('BrainSenseStreamSelection')
    if (streamOverview.length > 0)
    {
      var brainsenseStreams = []
      for (var i = 0; i < streamOverview.length; i++) {
        var timestruct = new Date(streamOverview[i]["Timestamp"]*1000)
        if (!brainsenseStreams.includes(timestruct.getDate()))
        {
          var option = document.createElement("option");
          option.value = timestruct.toLocaleDateString();
          option.text = formatDateString(timestruct,"{%B} {%D}, {%Y}");
          selectList.appendChild(option);
          brainsenseStreams.push(timestruct.getDate())
        }
      }
    }
    const surveySelector = new Choices(selectList, {
      shouldSort: false
    });
    displayStreamTable(selectList.value)
  }
}

function selectDisplay()
{
  var selectList = document.getElementById('BrainSenseStreamSelection')
  displayStreamTable(selectList.value)
}

var cardTemplate = `
<div class="card">
  <div class="card-body p-3">
    <div class="d-flex border-bottom">
      <div class="ms-2 my-auto">
        <h5 class="mb-0">{DEVICE_NAME}</h5>
        <p class="text-xs mb-2">{DEVICE_LOCATION}</p>
      </div>
    </div>
    <p class="mt-3">{RECORDING_CONTACTS}</p>
    <h6 class="mb-0"><b>Recording Date:</b> {RECORDING_DATE}</h6>
    <h6 class="mb-0"><b>Recording Duration:</b> {RECORDING_DURATION} secs</h6>
    <hr class="horizontal dark">
    <div class="d-flex">
      <button type="button" class="btn btn-sm btn-primary mb-0" onclick="this.blur(); requestRealtimeStreamData('{TIMESTAMP}','{DEVICEID}');">
        View
      </button>
    </div>
  </div>
</div>
`

var rowTemplate = `
<tr>
  <td>
    <div class="d-flex px-2 py-1">
      <div class="d-flex flex-column justify-content-center">
        <h6 class="mb-0 text-sm">{RECORDING_DATE}</h6>
        <p class="text-xs text-secondary mb-0">{DEVICE_NAME}</p>
      </div>
    </div>
  </td>
  <td>
    <div class="d-flex px-2 py-1">
      <div class="d-flex flex-column justify-content-center {LEFTDISPLAY}">
        <p class="text-sm font-weight-bold mb-1">{LEFTSENSINGCHANNEL}</p>
        <div class="d-flex">
          <p class="text-sm font-weight-bold my-auto me-3">Stim Mode: </p>
          <select class="text-sm form-control py-0 ms-auto" onchange="updateRecordingContactType(this,'{DEVICEID}','{TIMESTAMP}','LEFT')">
            {LEFTSELECTOROPTION}
          </select>
        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="d-flex px-2 py-1">
      <div class="d-flex flex-column justify-content-center {RIGHTDISPLAY}">
        <p class="text-sm font-weight-bold mb-1">{RIGHTSENSINGCHANNEL}</p>
        <div class="d-flex">
          <p class="text-sm font-weight-bold my-auto me-3">Stim Mode: </p>
          <select class="text-sm form-control py-0 ms-auto" onchange="updateRecordingContactType(this,'{DEVICEID}','{TIMESTAMP}','RIGHT')">
            {RIGHTSELECTOROPTION}
          </select>
        </div>
      </div>
    </div>
  </td>
  <td>
    <p class="text-sm text-center font-weight-bold mb-0">{RECORDING_DURATION} secs</p>
  <td class="align-middle">
    <button type="button" class="btn btn-sm btn-primary mb-0" onclick="this.blur(); requestRealtimeStreamData('{TIMESTAMP}','{DEVICEID}');">
      View
    </button>
  </td>
</tr>
`

var streamData = {}
async function displayStreamTable(selectedDate) {
  var tablebody = document.getElementById("StreamTableBody")
  tablebody.innerHTML = ""

  for (var i = 0; i < streamOverview.length; i++) {
    if (!streamData.hasOwnProperty(streamOverview[i]["DeviceID"])) streamData[streamOverview[i]["DeviceID"]] = {}
    if (!streamData[streamOverview[i]["DeviceID"]].hasOwnProperty(streamOverview[i]["Timestamp"])) streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]] = {}
    var timestruct = new Date(streamOverview[i]["Timestamp"]*1000)
    if (timestruct.toLocaleDateString() == selectedDate) {
      var row = document.createElement("tr")
      var rowContent = rowTemplate.replaceAll("{DEVICE_NAME}",streamOverview[i]["DeviceName"]).replaceAll("{DEVICE_LOCATION}",streamOverview[i]["DeviceLocation"])
      rowContent = rowContent.replaceAll("{RECORDING_DATE}",timestruct.toLocaleString())
      rowContent = rowContent.replaceAll("{RECORDING_DURATION}",streamOverview[i]["Duration"])
      rowContent = rowContent.replaceAll("{TIMESTAMP}",streamOverview[i]["Timestamp"]).replaceAll("{DEVICEID}",streamOverview[i]["DeviceID"])

      streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]]["ID"] = streamOverview[i]["RecordingID"]
      streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]]["Channels"] = []

      for (var j = 0; j < streamOverview[i]["Channels"].length; j++) {
        var electrodeInfo = ""
        streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]]["Channels"].push(streamOverview[i]["Channels"][j]["Hemisphere"] + " E{0} - E{1} ".format(String(streamOverview[i]["Channels"][j]["Contacts"][0]).padStart(2,'0'),String(streamOverview[i]["Channels"][j]["Contacts"][1]).padStart(2,'0')))
        electrodeInfo += "<b>"+streamOverview[i]["Channels"][j]["Hemisphere"] + "</b>: " + " E{0}-E{1} ".format(String(streamOverview[i]["Channels"][j]["Contacts"][0]).padStart(2,'0'),String(streamOverview[i]["Channels"][j]["Contacts"][1]).padStart(2,'0'))
        if (streamOverview[i]["Channels"][j]["Hemisphere"].startsWith("Left")) {
          electrodeInfo += " (@ <b>" + streamOverview[i]["Therapy"]["Left"]["RateInHertz"] + "</b> Hz <b>" + streamOverview[i]["Therapy"]["Left"]["PulseWidthInMicroSecond"] + "</b> μS)"
          electrodeInfo += "<br>"

          var contactMode = ""
          for (var k = 0; k < streamOverview[i]["ContactTypes"][j].length; k++) {
            if (streamOverview[i]["ContactTypes"][j][k] == streamOverview[i]["ContactType"][j]) {
              contactMode += "<option data-overview='" + i + "' data-channel='" + j + "' value='" + streamOverview[i]["ContactTypes"][j][k] + "' selected='selected'>" + streamOverview[i]["ContactTypes"][j][k] + "</option>"
            } else {
              contactMode += "<option data-overview='" + i + "' data-channel='" + j + "' value='" + streamOverview[i]["ContactTypes"][j][k] + "'>" + streamOverview[i]["ContactTypes"][j][k] + "</option>"
            }
          }
          rowContent = rowContent.replaceAll("{LEFTDISPLAY}","")
          rowContent = rowContent.replaceAll("{LEFTSELECTOROPTION}",contactMode)
          rowContent = rowContent.replaceAll("{LEFTSENSINGCHANNEL}",electrodeInfo)

        } else {
          electrodeInfo += " (@ <b>" + streamOverview[i]["Therapy"]["Right"]["RateInHertz"] + "</b> Hz <b>" + streamOverview[i]["Therapy"]["Right"]["PulseWidthInMicroSecond"] + "</b> μS)"
          electrodeInfo += "<br>"

          var contactMode = ""
          for (var k = 0; k < streamOverview[i]["ContactTypes"][j].length; k++) {
            if (streamOverview[i]["ContactTypes"][j][k] == streamOverview[i]["ContactType"][j]) {
              contactMode += "<option value='" + streamOverview[i]["ContactTypes"][j][k] + "' selected='selected'>" + streamOverview[i]["ContactTypes"][j][k] + "</option>"
            } else {
              contactMode += "<option value='" + streamOverview[i]["ContactTypes"][j][k] + "'>" + streamOverview[i]["ContactTypes"][j][k] + "</option>"
            }
          }
          rowContent = rowContent.replaceAll("{RIGHTDISPLAY}","")
          rowContent = rowContent.replaceAll("{RIGHTSELECTOROPTION}",contactMode)
          rowContent = rowContent.replaceAll("{RIGHTSENSINGCHANNEL}",electrodeInfo)
        }
      }

      rowContent = rowContent.replaceAll("{LEFTDISPLAY}","d-none")
      rowContent = rowContent.replaceAll("{RIGHTDISPLAY}","d-none")
      row.innerHTML = rowContent
      tablebody.appendChild(row);
    }
  }
}

function displayRealtimeStreamCards(selectedDate)
{
  var cardList = document.getElementById("StreamCardList")
  cardList.innerHTML = ""
  for (var i = 0; i < streamOverview.length; i++) {
    if (!streamData.hasOwnProperty(streamOverview[i]["DeviceID"])) streamData[streamOverview[i]["DeviceID"]] = {}
    if (!streamData[streamOverview[i]["DeviceID"]].hasOwnProperty(streamOverview[i]["Timestamp"])) streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]] = {}
    var timestruct = new Date(streamOverview[i]["Timestamp"]*1000)
    if (timestruct.toLocaleDateString() == selectedDate) {
      var card = document.createElement("div")
      card.classList.add(...["mt-0","mb-4","col-5","col-lg-3"])
      var cardContent = cardTemplate.replaceAll("{DEVICE_NAME}",streamOverview[i]["DeviceName"]).replaceAll("{DEVICE_LOCATION}",streamOverview[i]["DeviceLocation"])
      cardContent = cardContent.replaceAll("{RECORDING_DATE}",timestruct.toLocaleString())
      cardContent = cardContent.replaceAll("{RECORDING_DURATION}",streamOverview[i]["Duration"])

      streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]]["ID"] = streamOverview[i]["RecordingID"]
      streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]]["Channels"] = []
      var electrodeInfo = ""
      for (var j = 0; j < streamOverview[i]["Channels"].length; j++) {
        streamData[streamOverview[i]["DeviceID"]][streamOverview[i]["Timestamp"]]["Channels"].push(streamOverview[i]["Channels"][j]["Hemisphere"] + " E{0} - E{1} ".format(String(streamOverview[i]["Channels"][j]["Contacts"][0]).padStart(2,'0'),String(streamOverview[i]["Channels"][j]["Contacts"][1]).padStart(2,'0')))
        electrodeInfo += "<b>"+streamOverview[i]["Channels"][j]["Hemisphere"] + "</b>: " + " E{0} - E{1} ".format(String(streamOverview[i]["Channels"][j]["Contacts"][0]).padStart(2,'0'),String(streamOverview[i]["Channels"][j]["Contacts"][1]).padStart(2,'0'))
        electrodeInfo += "<br>"
      }
      cardContent = cardContent.replaceAll("{RECORDING_CONTACTS}",electrodeInfo)
      cardContent = cardContent.replaceAll("{TIMESTAMP}",streamOverview[i]["Timestamp"]).replaceAll("{DEVICEID}",streamOverview[i]["DeviceID"])
      card.innerHTML = cardContent
      cardList.appendChild(card);
    }
  }
}

async function requestRealtimeStreamData(timestamp, device)
{
  if (!streamData[device][timestamp].hasOwnProperty("Data"))
  {
    Swal.fire({
      title: 'Downloading Data',
      html: 'Please wait while data are being downloaded',
      didOpen: () => {
        Swal.showLoading()
      },
      showConfirmButton: false
    })

    let formData = new FormData();
    formData.append("requestData", device);
    formData.append("requestTimestamp", timestamp);
    const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
    if (response.status == 200)
    {
      var data = await response.json()

      streamData[device][timestamp]["Data"] = data
      streamData["CurrentID"] = streamData[device][timestamp]["ID"]
      document.getElementById("BrainSenseStimulationPSDRefSwitch-Left").checked = false
      document.getElementById("BrainSenseStimulationPSDRefSwitch-Right").checked = false

      if (data["Info"]["CardiacFilter"]) document.getElementById("CardiacFilterState").innerHTML = "Remove Cardiac Filter"
      else document.getElementById("CardiacFilterState").innerHTML = "Add Cardiac Filter"
      Swal.close()

    } else {
      Swal.close()
      Swal.fire({
        title: 'Downloading Data Failed',
        html: 'Data cannot be retrieved. Please contact server admin for information.',
        showConfirmButton: true
      })
    }
  }
  document.getElementById("StreamTable").dataset.timestamp = timestamp
  document.getElementById("StreamTable").dataset.device = device

  if (streamData[device][timestamp].hasOwnProperty("Data"))
  {
    document.getElementById("BrainSenseStreamSpectrogramCard").style.display = ""

    Swal.fire({
      title: 'Rendering Data',
      html: 'Please wait while data are being rendered',
      didOpen: () => {
        Swal.showLoading()
      },
      showConfirmButton: false
    })
    plotly_renderBrainSenseData(device, timestamp)
    plotly_renderStimulationPSDData(device, timestamp)
    plotly_renderTherapyEffects(device, timestamp)
    Swal.close()

    stickyNavBar(false)
  }
}

async function updateCardiacFilterData()
{
  Swal.fire({
    title: 'Processing Data',
    html: 'Please wait while data are being processed',
    didOpen: () => {
      Swal.showLoading()
    },
    showConfirmButton: false
  })

  device = document.getElementById("StreamTable").dataset.device
  timestamp = document.getElementById("StreamTable").dataset.timestamp

  let formData = new FormData();
  formData.append("updateCardiacFilter", document.getElementById("CardiacFilterState").innerHTML == "Add Cardiac Filter");
  formData.append("requestData", device);
  formData.append("requestTimestamp", timestamp);
  const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
  if (response.status == 200) {
    var data = await response.json()
    streamData[device][timestamp]["Data"] = data
    streamData["CurrentID"] = streamData[device][timestamp]["ID"]
    document.getElementById("BrainSenseStimulationPSDRefSwitch-Left").checked = false
    document.getElementById("BrainSenseStimulationPSDRefSwitch-Right").checked = false

    if (data["Info"]["CardiacFilter"]) document.getElementById("CardiacFilterState").innerHTML = "Remove Cardiac Filter"
    else document.getElementById("CardiacFilterState").innerHTML = "Add Cardiac Filter"

    plotly_renderBrainSenseData(device, timestamp)
    plotly_renderStimulationPSDData(device, timestamp)
    plotly_renderTherapyEffects(device, timestamp)
  }
  Swal.close()
}

async function updateTimeFrequencyAnalysis()
{
  Swal.fire({
    title: 'Processing Data',
    html: 'Please wait while data are being processed',
    didOpen: () => {
      Swal.showLoading()
    },
    showConfirmButton: false
  })

  device = document.getElementById("StreamTable").dataset.device
  timestamp = document.getElementById("StreamTable").dataset.timestamp

  let formData = new FormData();
  formData.append("updateConfigurations", true);
  formData.append("device", device);
  formData.append("timestamp", timestamp);
  if (document.getElementById("TimeFrequencyMethod").innerHTML == "Use Wavelet") {
    formData.append("SpectrogramMethod", "Wavelet");
  } else {
    formData.append("SpectrogramMethod", "Spectrogram");
  }
  const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
  if (response.status == 200) {
    var data = await response.json()
    streamData[device][timestamp]["Data"] = data
    streamData["CurrentID"] = streamData[device][timestamp]["ID"]
    document.getElementById("BrainSenseStimulationPSDRefSwitch-Left").checked = false
    document.getElementById("BrainSenseStimulationPSDRefSwitch-Left").checked = false

    if (document.getElementById("TimeFrequencyMethod").innerHTML == "Use Wavelet") {
      document.getElementById("TimeFrequencyMethod").innerHTML = "Use Spectrogram"
    } else {
      document.getElementById("TimeFrequencyMethod").innerHTML = "Use Wavelet"
    }

    plotly_renderBrainSenseData(device, timestamp)
    plotly_renderStimulationPSDData(device, timestamp)
    plotly_renderTherapyEffects(device, timestamp)
  }
  Swal.close()
}

async function updateRecordingContactType(event, device, timestamp, hemisphere)
{
  let formData = new FormData();
  formData.append("updateRecordingContactType", event.value);
  formData.append("requestData", device);
  formData.append("requestTimestamp", timestamp);
  formData.append("channelID", hemisphere);
  const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
  if (response.status == 200) {
    streamOverview[parseInt(event[0].dataset.overview)]["ContactType"][parseInt(event[0].dataset.channel)] = event.value
  }
}

async function updateConfigurations()
{
  Swal.fire({
    title: 'Reprocessing Data',
    html: 'Please wait while data are being reprocessed in the server',
    didOpen: () => {
      Swal.showLoading()
    },
    showConfirmButton: false
  })

  var device = document.getElementById("StreamTable").dataset.device
  var timestamp = document.getElementById("StreamTable").dataset.timestamp

  let formData = new FormData();
  selections = document.getElementsByClassName("config-selection")
  formData.append("updateConfigurations", true);
  formData.append("device", device);
  formData.append("timestamp", timestamp);
  for (var i = 0; i < selections.length; i++) {
    formData.append(selections[i].dataset.key, selections[i].value);
  }
  fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },}).then((response) => {
    response.json().then((data) => {
      streamData[device][timestamp]["Data"] = data
      streamData["CurrentID"] = streamData[device][timestamp]["ID"]
      document.getElementById("BrainSenseStimulationPSDRefSwitch-Left").checked = false
      document.getElementById("BrainSenseStimulationPSDRefSwitch-Left").checked = false

      if (document.getElementById("TimeFrequencyMethod").innerHTML == "Use Wavelet") {
        document.getElementById("TimeFrequencyMethod").innerHTML = "Use Spectrogram"
      } else {
        document.getElementById("TimeFrequencyMethod").innerHTML = "Use Wavelet"
      }

      plotly_renderBrainSenseData(device, timestamp)
      plotly_renderStimulationPSDData(device, timestamp)
      plotly_renderTherapyEffects(device, timestamp)
      Swal.close()
    })
  }).catch((error) => {
    console.log(error);
    Swal.close();
  })
}

async function updateStimulationPSD(side)
{
  var toggle, type;
  if (side == "Left") toggle = document.getElementById("BrainSenseStimulationPSDRefSwitch-Left")
  else toggle = document.getElementById("BrainSenseStimulationPSDRefSwitch-Right")

  if (toggle.checked) type = "Contralataral"
  else type = "Ipsilateral"

  const status = await updateStimulationPSDReference(toggle.dataset.timestamp, toggle.dataset.device, toggle.dataset.channel, type)
  if (status != 200)
  {
    if (toggle.checked) toggle.checked = false
    else toggle.checked = true
  }
  else
  {
    Swal.fire({
      title: 'Rendering Data',
      html: 'Please wait while data are being rendered',
      didOpen: () => {
        Swal.showLoading()
      },
      showConfirmButton: false
    })
    plotly_renderStimulationPSDData(toggle.dataset.device, toggle.dataset.timestamp)
    plotly_renderTherapyEffects(toggle.dataset.device, toggle.dataset.timestamp)
    Swal.close()
  }
}

async function updateStimulationPSDReference(timestamp, device, channel, reference)
{
  Swal.fire({
    title: 'Downloading Data',
    html: 'Please wait while data are being downloaded',
    didOpen: () => {
      Swal.showLoading()
    },
    showConfirmButton: false
  })

  let formData = new FormData();
  formData.append("requestData", device);
  formData.append("requestTimestamp", timestamp);
  formData.append("updateFigure", "Update Stimulation PSD Reference")
  formData.append("StimReference", reference)
  formData.append("ChannelID", channel)
  const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
  if (response.status == 200)
  {
    var data = await response.json()
    streamData[device][timestamp]["Data"][channel]["StimPSD"] = data
  }
  Swal.close()
  return response.status
}

async function updatePredictionGraph(channel, reference, frequency)
{
  var timestamp = document.getElementById("StreamTable").dataset.timestamp
  var device = document.getElementById("StreamTable").dataset.device
  await updatePredictionCenterFrequency(timestamp, device, channel, reference, frequency)

  Swal.fire({
    title: 'Rendering Data',
    html: 'Please wait while data are being rendered',
    didOpen: () => {
      Swal.showLoading()
    },
    showConfirmButton: false
  })
  plotly_renderTherapyEffects(device, timestamp)
  Swal.close()
}

async function updatePredictionCenterFrequency(timestamp, device, channel, reference, frequency)
{
  Swal.fire({
    title: 'Downloading Data',
    html: 'Please wait while data are being downloaded',
    didOpen: () => {
      Swal.showLoading()
    },
    showConfirmButton: false
  })

  let formData = new FormData();
  formData.append("requestData", device);
  formData.append("requestTimestamp", timestamp);
  formData.append("updateFigure", "Update Stimulation Boxplot")
  formData.append("StimReference", reference)
  formData.append("CenterFrequency", frequency)
  formData.append("ChannelID", channel)
  const response = await fetch(window.location.origin + "/report/brainsenseStreams", {method: "POST", body: formData, headers: { 'X-CSRFToken': csrftoken },})
  if (response.status == 200)
  {
    var data = await response.json()
    streamData[device][timestamp]["Data"][channel]["StimPSD"] = data["StimPSD"]
    streamData[device][timestamp]["Data"][channel]["PredictionTrend"] = data["PredictionTrend"]
    streamData[device][timestamp]["Data"][channel]["PredictionFeatures"] = data["PredictionFeatures"]
  }

  Swal.close()
}

function plotly_renderBrainSenseData(deviceID, timestamp)
{
  var data = streamData[deviceID][timestamp]["Data"]

  var graphFormat;
  if (data["Channels"].length == 2) graphFormat = "Bilateral"
  else graphFormat = "Unilateral"

  var traces = []
  for (var i = 0; i < data["Channels"].length; i++)
  {
    var timeArray = new Array(data[data["Channels"][i]]["RawData"].length)
    for (var t = 0; t < timeArray.length; t++) timeArray[t] = new Date(timestamp*1000 + t*4)

    var yaxisID;
    if (graphFormat == "Unilateral") yaxisID = "y" + String(i+1)
    else yaxisID = "y" + String(i+1)

    var trace = {
      x: timeArray,
      y: data[data["Channels"][i]]["RawData"],
      yaxis: yaxisID,
      type: 'scatter',
      mode: "lines",
      line: {color: "#000000", width: 0.5},
      hovertemplate: "  %{y:.2f} μV<br>  %{x}  <extra></extra>",
      showlegend: false
    }
    traces.push(trace)

    if (graphFormat == "Unilateral") yaxisID = "y" + String(i+3)
    else yaxisID = "y" + String(i*2+4)

    for (var k = 0; k < data["PowerBand"].length; k++) {
      if (data["PowerBand"][k]["Name"] == data["Channels"][i]) {
        var timeArray = new Array(data["PowerBand"][k]["Time"].length)
        for (var t = 0; t < timeArray.length; t++) timeArray[t] = new Date(timestamp*1000 + data["PowerBand"][k]["Time"][t]*1000)

        var trace = {
          x: timeArray,
          y: data["PowerBand"][k]["Power"],
          yaxis: yaxisID,
          type: 'scatter',
          mode: "lines",
          line: {color: "#000000", width: 0.5},
          hovertemplate: "  %{y:.2f} μV<br>  %{x}  <extra></extra>",
          showlegend: false
        }
        traces.push(trace)
      }
    }
  }

  const stimulationLineColor = ["#FCA503","#253EF7"]
  for (var i = 0; i < data["Stimulation"].length; i++)
  {
    if (graphFormat == "Unilateral") yaxisID = "y4"
    else yaxisID = "y7"

    var timeArray = new Array(data["Stimulation"][i]["Time"].length)
    for (var t = 0; t < timeArray.length; t++) timeArray[t] = new Date(timestamp*1000 + data["Stimulation"][i]["Time"][t]*1000)

    var trace = {
      x: timeArray,
      y: data["Stimulation"][i]["Amplitude"],
      yaxis: yaxisID,
      type: 'scatter',
      mode: "lines",
      name: data["Channels"][i],
      line: {color: stimulationLineColor[i], width: 2, shape: "hv"},
      hovertemplate: "  %{y:.2f} mA<br>  %{x} <extra></extra>",
      showlegend: true
    }
    traces.push(trace)
  }

  for (var i = 0; i < data["Channels"].length; i++)
  {
    var timeArray = new Array(data[data["Channels"][i]]["Spectrogram"]["Time"].length)
    for (var t = 0; t < data[data["Channels"][i]]["Spectrogram"]["Time"].length; t++)
    {
      const alignedTimestamp = timestamp*1000 + data[data["Channels"][i]]["Spectrogram"]["Time"][t]*1000
      timeArray[t] = new Date(alignedTimestamp)
    }

    var yaxisID;
    if (graphFormat == "Unilateral") yaxisID = "y" + String(i+2)
    else yaxisID = "y" + String(i*2+3)

    var trace = {
      x: timeArray,
      y: data[data["Channels"][i]]["Spectrogram"]["Frequency"],
      z: data[data["Channels"][i]]["Spectrogram"]["Power"],
      yaxis: yaxisID,
      type: 'heatmap',
      zsmooth: "best",
      coloraxis: "coloraxis",
      zmax: 20,
      zmin: 20,
      hovertemplate: "  %{x} <br>" + "  %{y:.1f} Hz<br>  %{z:.2f} dB<extra></extra>",
    }
    traces.push(trace)
  }

  if (graphFormat == "Unilateral") {
    var layout = {
      grid: {rows: 4, columns: 1, pattern: "coupled"},
      xaxis: {domain: [0, 1]},
      annotations: [],
      yaxis: {
        domain: [0.75, 1],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [-100,100], zeroline: false,
        title: {text: "Amplitude (μV)", font: {size: 15}},
        color: "#000000",
      },
      yaxis2: {
        domain: [0.45, 0.70],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [0,100], zeroline: false,
        title: {text: "Frequency (Hz)", font: {size: 15}},
        color: "#000000",
      },
      yaxis3: {
        domain: [0.30, 0.40],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", zeroline: false,
        title: {text: "Power (a.u.)", font: {size: 15}},
        color: "#000000",
      },
      yaxis4: {
        domain: [0, 0.25],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [0,6], zeroline: false,
        title: {text: "Stimulation (mA)", font: {size: 15}},
        color: "#000000",
      },
      coloraxis: {
        domain: [0.95,1],
        colorbar: {y: 0.5, len: 0.3, title: {text: "Powerr (dB)", side: "right", font: {size: 15}}},
        showscale: true,
        colorscale: "Jet",
        cmin: data[data["Channels"][0]]["Spectrogram"]["ColorRange"][0], cmax: data[data["Channels"][0]]["Spectrogram"]["ColorRange"][1],
      },
      legend: {
        yanchor: "top",
        y: 0.10,
      }
    };
    layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0], font: {size: 16}, showarrow: false, x: 0.45, y: 1, xref: "paper", yref: "paper", yanchor: "bottom"})
    layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0], font: {size: 16}, showarrow: false, x: 0.45, y: 0.70, xref: "paper", yref: "paper", yanchor: "bottom"})
    if (streamData[deviceID][timestamp]["Channels"][0].startsWith("Left")) {
      layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0] + "Power Band @ " + data["Info"]["Therapy"]["Left"]["FrequencyInHertz"] + " Hz", font: {size: 16}, showarrow: false, x: 0.45, y: 0.4, xref: "paper", yref: "paper", yanchor: "bottom"})
    } else {
      layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0] + "Power Band @ " + data["Info"]["Therapy"]["Right"]["FrequencyInHertz"] + " Hz", font: {size: 16}, showarrow: false, x: 0.45, y: 0.4, xref: "paper", yref: "paper", yanchor: "bottom"})
    }
    document.getElementById("BrainSenseStreamSpectrogramChart").style.height = String(3*300) + "px"
  } else {
    var layout = {
      grid: {rows: 7, columns: 1, pattern: "coupled"},
      xaxis: {domain: [0, 1]},
      annotations: [],
      yaxis: {
        domain: [0.88, 1],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [-100,100], zeroline: false,
        title: {text: "Amplitude (μV)", font: {size: 15}},
        color: "#000000",
      },
      yaxis2: {
        domain: [0.72, 0.84],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [-100,100], zeroline: false,
        title: {text: "Amplitude (μV)", font: {size: 15}},
        color: "#000000",
      },
      yaxis3: {
        domain: [0.56, 0.68],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [0,100], zeroline: false,
        title: {text: "Frequency (Hz)", font: {size: 15}},
        color: "#000000",
      },
      yaxis4: {
        domain: [0.43, 0.52],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", zeroline: false,
        title: {text: "Power (a.u.)", font: {size: 15}},
        color: "#000000",
      },
      yaxis5: {
        domain: [0.27, 0.39],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [0,100], zeroline: false,
        title: {text: "Frequency (Hz)", font: {size: 15}},
        color: "#000000",
      },
      yaxis6: {
        domain: [0.14, 0.23],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", zeroline: false,
        title: {text: "Power (a.u.)", font: {size: 15}},
        color: "#000000",
      },
      yaxis7: {
        domain: [0, 0.10],
        showgrid: true, gridcolor: "#DDDDDD", showline: true, linecolor: "#000000",
        ticks: "outside", range: [0,6], zeroline: false,
        title: {text: "Stimulation (mA)", font: {size: 15}},
        color: "#000000",
      },
      coloraxis: {
        colorbar: {y: 0.42, len: 0.4, title: {text: "Powerr (dB)", side: "right", font: {size: 15}}},
        showscale: true,
        colorscale: "Jet",
        cmin: data[data["Channels"][0]]["Spectrogram"]["ColorRange"][0], cmax: data[data["Channels"][0]]["Spectrogram"]["ColorRange"][1],
      },
      legend: {
        yanchor: "top",
        y: 0.10,
      }
    };
    layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0], font: {size: 16}, showarrow: false, x: 0.45, y: 1, xref: "paper", yref: "paper", yanchor: "bottom"})
    layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][1], font: {size: 16}, showarrow: false, x: 0.45, y: 0.84, xref: "paper", yref: "paper", yanchor: "bottom"})
    layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0], font: {size: 16}, showarrow: false, x: 0.45, y: 0.68, xref: "paper", yref: "paper", yanchor: "bottom"})
    layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][1], font: {size: 16}, showarrow: false, x: 0.45, y: 0.39, xref: "paper", yref: "paper", yanchor: "bottom"})

    if (streamData[deviceID][timestamp]["Channels"][0].startsWith("Left")) {
      layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0] + "Power Band @ " + data["Info"]["Therapy"]["Left"]["FrequencyInHertz"] + " Hz", font: {size: 16}, showarrow: false, x: 0.45, y: 0.52, xref: "paper", yref: "paper", yanchor: "bottom"})
      layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][1] + "Power Band @ " + data["Info"]["Therapy"]["Right"]["FrequencyInHertz"] + " Hz", font: {size: 16}, showarrow: false, x: 0.45, y: 0.23, xref: "paper", yref: "paper", yanchor: "bottom"})
    } else {
      layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][0] + "Power Band @ " + data["Info"]["Therapy"]["Right"]["FrequencyInHertz"] + " Hz", font: {size: 16}, showarrow: false, x: 0.45, y: 0.52, xref: "paper", yref: "paper", yanchor: "bottom"})
      layout["annotations"].push({text: streamData[deviceID][timestamp]["Channels"][1] + "Power Band @ " + data["Info"]["Therapy"]["Left"]["FrequencyInHertz"] + " Hz", font: {size: 16}, showarrow: false, x: 0.45, y: 0.23, xref: "paper", yref: "paper", yanchor: "bottom"})
    }
    document.getElementById("BrainSenseStreamSpectrogramChart").style.height = String(2000) + "px"
  }

  Plotly.newPlot('BrainSenseStreamSpectrogramChart', traces, layout)
}

var plotly_singleclicked = false;
var plotly_timeout;
function plotly_renderStimulationPSDData(deviceID, timestamp)
{
  var data = streamData[deviceID][timestamp]["Data"]

  const chartTitles = ["BrainSenseStimulationPSDChart-Left","BrainSenseStimulationPSDChart-Right"]
  document.getElementById(chartTitles[0].replace("Chart","Card")).style.display = "none"
  document.getElementById(chartTitles[1].replace("Chart","Card")).style.display = "none"
  for (var i = 0; i < data["Channels"].length; i++)
  {
    var toggle = document.getElementById(chartTitles[i].replace("Chart","RefSwitch"))

    var traces = []
    for (var j = 0; j < data[data["Channels"][i]]["StimPSD"].length; j++)
    {
      var trace = {
        x: data[data["Channels"][i]]["StimPSD"][j]["Frequency"],
        y: data[data["Channels"][i]]["StimPSD"][j]["PSD"],
        type: 'scatter',
        mode: "lines",
        name: "{0} mA".format(data[data["Channels"][i]]["StimPSD"][j]["Stimulation"].toFixed(2)),
        line: {color: data[data["Channels"][i]]["StimPSD"][j]["StimulationColor"], width: 2},
        meta: "{0} mA".format(data[data["Channels"][i]]["StimPSD"][j]["Stimulation"].toFixed(2)),
        hovertemplate: "%{meta} %{y:.2f} μV<sup>2</sup>/Hz<extra></extra>",
        showlegend: true,
        channel: data["Channels"][i],
        reference: toggle.checked,
      }
      traces.push(trace)
    }

    var layout = {
      title: {
        text: streamData[deviceID][timestamp]["Channels"][i] + " Stimulation PSDs"
      },
      yaxis: {
        type: "log",
        showgrid: true,
        gridcolor: "#DDDDDD",
        showline: true,
        linecolor: "#000000",
        ticks: "outside",
        range: [-3,1],
        zeroline: false,
        title: {text: "Power (μV<sup>2</sup>/Hz)", font: {size: 15}},
        tickfont_size: 12,
        tickmode: "array",
        tickvals: [0.001,0.01,0.1,1,10],
        color: "#000000",
      },
      xaxis: {
        showgrid: true,
        showline: true,
        ticks: "outside",
        range: [0,100],
        showticklabels: true,
        zeroline: false,
        title: {text: "Frequency (Hz)", font: {size: 15}},
      },
      hovermode: "x"
    };

    if (data[data["Channels"][i]]["StimPSD"].length > 0) {
      document.getElementById(chartTitles[i].replace("Chart","Card")).style.display = ""
      document.getElementById(chartTitles[i]).style.height = String(600) + "px"
      document.getElementById(chartTitles[i].replace("Chart","RefSwitch")).dataset.channel = data["Channels"][i]
      document.getElementById(chartTitles[i].replace("Chart","RefSwitch")).dataset.device = deviceID
      document.getElementById(chartTitles[i].replace("Chart","RefSwitch")).dataset.timestamp = timestamp
      Plotly.newPlot(chartTitles[i], traces, layout)

      document.getElementById(chartTitles[i]).on("plotly_click", function(data) {
        if (plotly_singleclicked) {
          plotly_singleclicked = false
          clearTimeout(plotly_timeout)
        }
        else {
          plotly_singleclicked = true
          plotly_timeout = setTimeout(function() {
            if (data["points"][0]["data"]["reference"]) type = "Contralataral"
            else type = "Ipsilateral"
            updatePredictionGraph(data["points"][0]["data"]["channel"], type,  data["points"][0]["x"])
            plotly_singleclicked = false
          }, 250);
        }
      })
    }
  }
}

function plotly_renderTherapyEffects(deviceID, timestamp)
{
  var data = streamData[deviceID][timestamp]["Data"]

  const chartTitles = ["BrainSenseTherapyEffectChart-Left","BrainSenseTherapyEffectChart-Right"]
  document.getElementById(chartTitles[0].replace("Chart","Card")).style.display = "none"
  document.getElementById(chartTitles[1].replace("Chart","Card")).style.display = "none"
  for (var i = 0; i < data["Channels"].length; i++)
  {
    var traces = []
    for (var j = 0; j < data[data["Channels"][i]]["StimPSD"].length; j++)
    {
      var xdata = new Array(data[data["Channels"][i]]["StimPSD"][j]["SpectralFeatures"].length)
      for (var k = 0; k < xdata.length; k++) xdata[k] = data[data["Channels"][i]]["StimPSD"][j]["Stimulation"]

      var trace = {
        x: xdata,
        y: data[data["Channels"][i]]["StimPSD"][j]["SpectralFeatures"],
        type: "box",
        name: "{0} mA".format(data[data["Channels"][i]]["StimPSD"][j]["Stimulation"].toFixed(2)),
        width: 0.2,
        marker: {color: 'rgb(46, 20, 105)'},
        line: {color: 'rgb(46, 20, 105)'},
        hovertemplate: "<extra></extra>",
        showlegend: false
      }
      traces.push(trace)
    }

    /*
    var trace = {
      x: data[data["Channels"][i]]["PredictionTrend"]["StimulationAmplitude"],
      y: data[data["Channels"][i]]["PredictionTrend"]["FittedLine"],
      type: 'scatter',
      mode: "lines",
      line: {color: "#DD0000", width: 5},
      hovertemplate: "<extra></extra>",
      showlegend: false
    }
    traces.push(trace)
    */

    if (data[data["Channels"][i]]["StimPSD"].length > 0) {
      var layout = {
        title: {
          text: streamData[deviceID][timestamp]["Channels"][i] + " on {0}Hz Power".format(data[data["Channels"][i]]["StimPSD"][0]["CenterFrequency"])
        },
        yaxis: {
          type: "linear",
          showgrid: true,
          gridcolor: "#DDDDDD",
          showline: true,
          linecolor: "#000000",
          ticks: "outside",
          zeroline: false,
          title: {text: "Power (μV<sup>2</sup>/Hz)", font: {size: 15}},
          color: "#000000",
        },
        xaxis: {
          showgrid: true,
          showline: true,
          ticks: "outside",
          range: [-0.3,6.3],
          showticklabels: true,
          zeroline: false,
          title: {text: "Stimulation Amplitude (mA)", font: {size: 15}},
        }
      };

      document.getElementById(chartTitles[i].replace("Chart","Card")).style.display = ""
      document.getElementById(chartTitles[i]).style.height = String(600) + "px"
      Plotly.newPlot(chartTitles[i], traces, layout)
    }
  }
}

function exportCurrentStream() {
  const data = streamData[document.getElementById("StreamTable").dataset.device][document.getElementById("StreamTable").dataset.timestamp]["Data"];
  var csvData = "Time"
  for (var i = 0; i < data["Channels"].length; i++) {
    csvData += "," + data["Channels"][i] + " Raw";
    csvData += "," + data["Channels"][i] + " Stimulation";
  }
  csvData += "\n"

  for (var i = 0; i < data[data["Channels"][0]]["Time"].length; i++) {
    csvData += data[data["Channels"][0]]["Time"][i] + parseInt(document.getElementById("StreamTable").dataset.timestamp)
    for (var j = 0; j < data["Channels"].length; j++) {
      csvData += "," + data[data["Channels"][j]]["RawData"][i]
      for (var k = 0; k < data["Stimulation"].length; k++) {
        if (data["Stimulation"][k]["Name"] == data["Channels"][j]) {
          for (var l = 0; l < data["Stimulation"][k]["Amplitude"].length; l++) {
            if (data["Stimulation"][k]["Time"][l] > data[data["Channels"][0]]["Time"][i]) {
              break
            }
          }
          csvData += "," + data["Stimulation"][k]["Amplitude"][l-1]
        }
      }
    }
    csvData += "\n"
  }

  var downloader = document.createElement('a');
  downloader.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvData);
  downloader.target = '_blank';
  downloader.download = '{{Patient.Name}} Realtime Stream.csv';
  downloader.click();
}

</script>
{% endblock %}
